<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 class="text-color">Login</h1>
                    <h6 class="text-color">Enter user name and password</h6>
                </div>
                <form>
                    <div class="md-3">
                        <label class="text-color" for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="md-3">
                        <label class="text-color" for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="md-3">
                        <div class="row">
                            <div class="col-md-6">

                                <button type="submit" style="margin-top: 15px;"
                                    class="btn btn-primary">Login</button>
                            </div>
                            <div class="col-md-6">
                                <a class="text-color" routerLink="/signup">New User? Register here </a>
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>